.row-container {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
  width: 100%;
}

.row-container::-webkit-scrollbar {
  display: none;
}

.movie-container {
  object-fit: contain;
  width: 100%;
  max-height: 100px;
  margin-right: 10px;
  transition: transform 450ms;
}

.movie-container:hover {
  transform: scale(1.08);
  opacity: 1;
}
.row-movieLarge {
  max-height: 250px;
}
.row-movieLarge:hover {
  transform: scale(1.09);
  opacity: 1;
}
.row {
  margin-left: 20px;
  color: whitesmoke;
}
